<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>对眼恋爱-专注于解决各类攻城狮的单身问题</title>
    <meta content="对眼恋爱是专注于解决攻城狮和程序媛的单身问题的严肃婚恋网站" name="description">
    <meta content="恋爱,单身,婚恋,找对象,找男朋友,找女朋友" name="keywords">

    <link rel="Shortcut Icon" href="http://www.lagou.com/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="static/js/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="static/js/excanvas.js"></script>
<![endif]-->
</head>

<body>

    <div id="body">
        <div id="header">
            <div class="wrapper">
                <a href="/index" class="logo">
                    <img src="static/images/logo.png" width="229" height="43" alt="对眼恋爱-专注于解决攻城狮的单身问题">
                </a>
                <ul class="reset" id="navheader">
                    <li class="current"><a href="/index">首页</a>
                    </li>
                    <li><a href="/companylist">公司</a>
                    </li>
                    <li><a href="/myInfo" rel="nofollow">我的信息</a>
                    </li>
                    <li><a href="/publish" rel="nofollow">发布职位</a>
                    </li>
                    <li><a href="/trends" rel="nofollow">动态</a>
                    </li>
                    <li><a href="/register" rel="nofollow">爱情集市</a>
                    </li>
                </ul>
                <ul class="loginTop">
                    <li><a href="/login" rel="nofollow">登录</a>
                    </li>
                    <li>|</li>
                    <li><a href="/register" rel="nofollow">注册</a>
                    </li>

                </ul>
            </div>

        </div>
        <!-- end #header -->
        {%block container%}{%endblock%}
