<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>对眼恋爱-专注于解决各类攻城狮的单身问题</title>
    <meta content="对眼恋爱是专注于解决攻城狮和程序媛的单身问题的严肃婚恋网站" name="description">
    <meta content="恋爱,单身,婚恋,找对象,找男朋友,找女朋友" name="keywords">

    <link rel="Shortcut Icon" href="http://www.lagou.com/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="static/js/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="http://www.lagou.com/js/assets/excanvas.js"></script>
<![endif]-->
</head>

<body>

    <div id="body">
        <div id="header">
            <div class="wrapper">
                <a href="/index" class="logo">
                    <img src="static/images/logo.png" width="229" height="43" alt="拉勾招聘-专注互联网招聘">
                </a>
                <ul class="reset" id="navheader">
                    <li><a href="/index">首页</a>
                    </li>
                    <li class="current"><a href="/companylist">公司</a>
                    </li>
                    <li><a href="/myInfo" rel="nofollow">我的信息</a>
                    </li>
                    <li><a href="/publish" rel="nofollow">发布职位</a>
                    </li>
                    <li><a href="/trends" rel="nofollow">动态</a>
                    </li>
                    <li><a href="/register" rel="nofollow">爱情集市</a>
                    </li>
                </ul>
                <ul class="loginTop">
                    <li><a href="/login" rel="nofollow">登录</a>
                    </li>
                    <li>|</li>
                    <li><a href="/register" rel="nofollow">注册</a>
                    </li>

                </ul>
            </div>

        </div>
        <!-- end #header -->
        <div id="container">
            <div class="clearfix">
                <div class="content_l">
                    <form id="companyListForm" name="companyListForm" method="get" action="./companylist_files/companylist.htm">
                        <input type="hidden" id="city" name="city" value="全国">
                        <input type="hidden" id="fs" name="fs" value="">
                        <input type="hidden" id="ifs" name="ifs" value="">
                        <input type="hidden" id="ol" name="ol" value="">
                        <dl class="hc_tag">
                            <dt>
                                <h2 class="fl">热门公司</h2>
                                <ul class="workplace reset fr">
                                    <li><a href="javascript:void(0)" class="current">全国</a> |</li>
                                    <li><a href="javascript:void(0)">北京</a> |</li>
                                    <li><a href="javascript:void(0)">上海</a> |</li>
                                    <li><a href="javascript:void(0)">广州</a> |</li>
                                    <li><a href="javascript:void(0)">深圳</a> |</li>
                                    <li><a href="javascript:void(0)">成都</a> |</li>
                                    <li><a href="javascript:void(0)">杭州</a> |</li>
                                    <li><a href="javascript:void(0)">武汉</a> |</li>
                                    <li><a href="javascript:void(0)">南京</a> |</li>
                                    <li><a href="javascript:void(0)">西安</a> |</li>
                                    <li><a href="javascript:void(0)">天津</a> |</li>
                                    <li><a href="javascript:void(0)">其他</a> 
                                    </li>
                                </ul>
                            </dt>
                            <dd>
                                <dl>
                                    <dt>发展阶段：</dt>
                                    <dd>
                                        <a href="javascript:void(0)">初创型</a>
                                        <a href="javascript:void(0)">成长型</a>
                                        <a href="javascript:void(0)">成熟型</a>
                                        <a href="javascript:void(0)">已上市</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>行业领域：</dt>
                                    <dd>
                                        <a href="javascript:void(0)">移动互联网</a>
                                        <a href="javascript:void(0)">电子商务</a>
                                        <a href="javascript:void(0)">社交</a>
                                        <a href="javascript:void(0)">企业服务</a>
                                        <a href="javascript:void(0)">O2O</a>
                                        <a href="javascript:void(0)">教育</a>
                                        <a href="javascript:void(0)">文化艺术</a>
                                        <a href="javascript:void(0)">游戏</a>
                                        <a href="javascript:void(0)">在线旅游</a>
                                        <a href="javascript:void(0)">金融互联网</a>
                                        <a href="javascript:void(0)">健康医疗</a>
                                        <a href="javascript:void(0)">生活服务</a>
                                        <a href="javascript:void(0)">硬件</a>
                                        <a href="javascript:void(0)">搜索</a>
                                        <a href="javascript:void(0)">安全</a>
                                        <a href="javascript:void(0)">运动体育</a>
                                        <a href="javascript:void(0)">云计算\大数据</a>
                                        <a href="javascript:void(0)">移动广告</a>
                                        <a href="javascript:void(0)">社会化营销</a>
                                        <a href="javascript:void(0)">视频多媒体</a>
                                        <a href="javascript:void(0)">媒体</a>
                                        <a href="javascript:void(0)">智能家居</a>
                                        <a href="javascript:void(0)">智能电视</a>
                                        <a href="javascript:void(0)">分类信息</a>
                                        <a href="javascript:void(0)">招聘</a>
                                    </dd>
                                </dl>
                                <!-- <dl>
	                            <dt>热门标签：</dt>
	                            <dd>
	                                	                                			                               	<a href="javascript:void(0)">年底双薪</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">专项奖金</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">股票期权</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">绩效奖金</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">年终分红</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">带薪年假</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">交通补助</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">通讯津贴</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">午餐补助</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">定期体检</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">弹性工作</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">年度旅游</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">节日礼物</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">免费班车</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">帅哥多</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">美女多</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">领导好</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">扁平管理</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">管理规范</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">技能培训</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">岗位晋升</a>
		                                	                                	                                			                               	<a href="javascript:void(0)">五险一金</a>
		                                	                                	                            </dd>
	                        </dl> -->
                            </dd>
                        </dl>
                        <ul class="hc_list reset">
                            <li style="clear:both;">
                                <a href="http://www.lagou.com/c/10149.html" target="_blank">
                                    <h3 title="网通社">网通社</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de1ce30144e29bb9c33b7e.jpg" width="190" height="190" alt="网通社">
                                        <ul>
                                            <li>媒体</li>
                                            <li>北京，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/52871.html" target="_blank"> BD经理</a>
                                <a href="http://www.lagou.com/jobs/52455.html" target="_blank"> UI设计师</a>
                                <a href="http://www.lagou.com/jobs/52873.html" target="_blank"> PHP</a>
                                <a href="http://www.lagou.com/jobs/52859.html" target="_blank"> 内容编辑</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>媒体</li>
                                    <li>年底双薪</li>
                                    <li>五险一金</li>
                                    <li>带薪年假</li>
                                    <li>绩效奖金</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/10181.html" target="_blank">
                                    <h3 title="临沂新商">临沂新商</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de1ce30144e39eebd033b9.jpg" width="190" height="190" alt="临沂新商">
                                        <ul>
                                            <li>移动互联网,电子商务</li>
                                            <li>临沂，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/52771.html" target="_blank"> Android</a>
                                <a href="http://www.lagou.com/jobs/52783.html" target="_blank"> C++</a>
                                <a href="http://www.lagou.com/jobs/52793.html" target="_blank"> PHP</a>
                                <a href="http://www.lagou.com/jobs/52777.html" target="_blank"> iOS</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>移动互联网</li>
                                    <li>电子商务</li>
                                    <li>绩效奖金</li>
                                    <li>专项奖金</li>
                                    <li>股票期权</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/10201.html" target="_blank">
                                    <h3 title="莎莎时尚">莎莎时尚</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/logo_default.png" width="190" height="190" alt="莎莎时尚">
                                        <ul>
                                            <li>企业服务</li>
                                            <li>北京，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/52629.html" target="_blank"> PHP攻城师</a>
                                <a href="http://www.lagou.com/jobs/52641.html" target="_blank"> web前端</a>
                                <a href="http://www.lagou.com/jobs/52649.html" target="_blank"> 技术经理</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>企业服务</li>
                                    <li>年终分红</li>
                                    <li>五险一金</li>
                                    <li>午餐补助</li>
                                    <li>美女多</li>
                                </ul>
                            </li>
                            <li style="clear:both;">
                                <a href="http://www.lagou.com/c/9833.html" target="_blank">
                                    <h3 title="灵思营销">灵思营销</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de1ce30144de234cc4020a.jpg" width="190" height="190" alt="灵思营销">
                                        <ul>
                                            <li>云计算\大数据,社会化营销</li>
                                            <li>北京，D轮及以上</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/50507.html" target="_blank"> 前台</a>
                                <a href="http://www.lagou.com/jobs/49693.html" target="_blank"> 产品经理</a>
                                <a href="http://www.lagou.com/jobs/50531.html" target="_blank"> 出纳</a>
                                <a href="http://www.lagou.com/jobs/50521.html" target="_blank"> 广告设计师</a>
                                <ul class="reset ctags">
                                    <li>D轮及以上</li>
                                    <li>云计算\大数据</li>
                                    <li>社会化营销</li>
                                    <li>年底双薪</li>
                                    <li>绩效奖金</li>
                                    <li>年终分红</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/9887.html" target="_blank">
                                    <h3 title="安居客">安居客</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144bad14f0144d4b1a0c66a82.png" width="190" height="190" alt="安居客">
                                        <ul>
                                            <li>生活服务</li>
                                            <li>上海，D轮及以上</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/50325.html" target="_blank"> SEO外链专员</a>
                                <a href="http://www.lagou.com/jobs/50319.html" target="_blank"> 高级SEO专员</a>
                                <ul class="reset ctags">
                                    <li>D轮及以上</li>
                                    <li>生活服务</li>
                                    <li>绩效奖金</li>
                                    <li>年底双薪</li>
                                    <li>专项奖金</li>
                                    <li>五险一金</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/9899.html" target="_blank">
                                    <h3 title="神州数码">神州数码</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de1ce30144de23bf7e0269.jpg" width="190" height="190" alt="神州数码">
                                        <ul>
                                            <li>移动互联网</li>
                                            <li>上海，D轮及以上</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/50441.html" target="_blank"> iOS</a>
                                <ul class="reset ctags">
                                    <li>D轮及以上</li>
                                    <li>移动互联网</li>
                                    <li>带薪年假</li>
                                </ul>
                            </li>
                            <li style="clear:both;">
                                <a href="http://www.lagou.com/c/9915.html" target="_blank">
                                    <h3 title="商三通西安分公司">商三通西安分公司</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de21790144de2e439506c5.jpg" width="190" height="190" alt="商三通西安分公司">
                                        <ul>
                                            <li>电子商务</li>
                                            <li>西安，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/50557.html" target="_blank"> 运维工程师</a>
                                <a href="http://www.lagou.com/jobs/50515.html" target="_blank"> MySQL数据库管理员</a>
                                <a href="http://www.lagou.com/jobs/50563.html" target="_blank"> 销售专员</a>
                                <a href="http://www.lagou.com/jobs/50549.html" target="_blank"> 高级PHP工程师</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>电子商务</li>
                                    <li>绩效奖金</li>
                                    <li>带薪年假</li>
                                    <li>五险一金</li>
                                    <li>节日礼物</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/9937.html" target="_blank">
                                    <h3 title="昆仑万维">昆仑万维</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144bae3580144d87942e018a7.png" width="190" height="190" alt="昆仑万维">
                                        <ul>
                                            <li>移动互联网</li>
                                            <li>北京，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/50901.html" target="_blank"> 内容运营</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>移动互联网</li>
                                    <li>五险一金</li>
                                    <li>绩效奖金</li>
                                    <li>节日礼物</li>
                                    <li>午餐补助</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/9949.html" target="_blank">
                                    <h3 title="大家好网络">大家好网络</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144baed150144d896ff7543ce.png" width="190" height="190" alt="大家好网络">
                                        <ul>
                                            <li>移动互联网,O2O</li>
                                            <li>深圳，D轮及以上</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/50835.html" target="_blank"> 设计经理/主管</a>
                                <a href="http://www.lagou.com/jobs/50813.html" target="_blank"> 网页设计师</a>
                                <a href="http://www.lagou.com/jobs/50803.html" target="_blank"> 人事/HR</a>
                                <ul class="reset ctags">
                                    <li>D轮及以上</li>
                                    <li>移动互联网</li>
                                    <li>O2O</li>
                                    <li>年终分红</li>
                                    <li>年底双薪</li>
                                    <li>五险一金</li>
                                </ul>
                            </li>
                            <li style="clear:both;">
                                <a href="http://www.lagou.com/c/9989.html" target="_blank">
                                    <h3 title="九游（UC公司旗下的一款移动游戏开放平台）">九游（UC公司旗下的...</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144bad14f0144d98b7c8e4a64.png" width="190" height="190" alt="九游（UC公司旗下的一款移动游戏开放平台）">
                                        <ul>
                                            <li>移动互联网,游戏</li>
                                            <li>广州，D轮及以上</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/51127.html" target="_blank"> 推广经理（道具商城）</a>
                                <a href="http://www.lagou.com/jobs/51113.html" target="_blank"> U3D手游开发</a>
                                <a href="http://www.lagou.com/jobs/51121.html" target="_blank"> 产品经理</a>
                                <a href="http://www.lagou.com/jobs/51119.html" target="_blank"> ERLANG手游服务端开发</a>
                                <ul class="reset ctags">
                                    <li>D轮及以上</li>
                                    <li>移动互联网</li>
                                    <li>游戏</li>
                                    <li>年终分红</li>
                                    <li>股票期权</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/10023.html" target="_blank">
                                    <h3 title="领军教育集团">领军教育集团</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144bae3580144dd54e13567dd.JPG" width="190" height="190" alt="领军教育集团">
                                        <ul>
                                            <li>教育</li>
                                            <li>西安，C轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/51367.html" target="_blank"> 招聘专员</a>
                                <a href="http://www.lagou.com/jobs/51389.html" target="_blank"> 课程顾问</a>
                                <a href="http://www.lagou.com/jobs/51377.html" target="_blank"> 市场主管</a>
                                <a href="http://www.lagou.com/jobs/51375.html" target="_blank"> 教辅编辑</a>
                                <ul class="reset ctags">
                                    <li>C轮</li>
                                    <li>教育</li>
                                    <li>绩效奖金</li>
                                    <li>带薪年假</li>
                                    <li>年度旅游</li>
                                    <li>节日礼物</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/10073.html" target="_blank">
                                    <h3 title="瑞观国际">瑞观国际</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de1ce30144de569b421bde.jpg" width="190" height="190" alt="瑞观国际">
                                        <ul>
                                            <li>移动互联网,云计算\大数据</li>
                                            <li>北京，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/51913.html" target="_blank"> 平面设计师</a>
                                <a href="http://www.lagou.com/jobs/51931.html" target="_blank"> UI设计师</a>
                                <a href="http://www.lagou.com/jobs/51945.html" target="_blank"> 内容编辑</a>
                                <a href="http://www.lagou.com/jobs/51935.html" target="_blank"> 网页产品经理</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>移动互联网</li>
                                    <li>云计算\大数据</li>
                                    <li>扁平管理</li>
                                    <li>帅哥多</li>
                                    <li>美女多</li>
                                </ul>
                            </li>
                            <li style="clear:both;">
                                <a href="http://www.lagou.com/c/10075.html" target="_blank">
                                    <h3 title="开心财富">开心财富</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de284d0144de2d9d5b0122.png" width="190" height="190" alt="开心财富">
                                        <ul>
                                            <li>金融互联网,生活服务</li>
                                            <li>青岛，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/51845.html" target="_blank"> 程序员（.net c#)</a>
                                <a href="http://www.lagou.com/jobs/51775.html" target="_blank"> 网页设计师</a>
                                <a href="http://www.lagou.com/jobs/51811.html" target="_blank"> 测试工程师</a>
                                <a href="http://www.lagou.com/jobs/51837.html" target="_blank"> html5</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>金融互联网</li>
                                    <li>生活服务</li>
                                    <li>绩效奖金</li>
                                    <li>五险一金</li>
                                    <li>专项奖金</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/10091.html" target="_blank">
                                    <h3 title="良道农业">良道农业</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de21790144de8566f32ec6.jpg" width="190" height="190" alt="良道农业">
                                        <ul>
                                            <li>生活服务</li>
                                            <li>昆明，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/51923.html" target="_blank"> 网络推广</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>生活服务</li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://www.lagou.com/c/10103.html" target="_blank">
                                    <h3 title="广州尚动科技">广州尚动科技</h3>
                                    <div class="comLogo">
                                        <img src="./companylist_files/ff80808144de284d0144dec2ac1d46ba.jpg" width="190" height="190" alt="广州尚动科技">
                                        <ul>
                                            <li>电子商务</li>
                                            <li>广州，B轮</li>
                                        </ul>
                                    </div>
                                </a>
                                <a href="http://www.lagou.com/jobs/52003.html" target="_blank"> 售前咨询</a>
                                <a href="http://www.lagou.com/jobs/51967.html" target="_blank"> 商家运营</a>
                                <a href="http://www.lagou.com/jobs/51993.html" target="_blank"> 售后客服</a>
                                <a href="http://www.lagou.com/jobs/52023.html" target="_blank"> 平面设计师</a>
                                <ul class="reset ctags">
                                    <li>B轮</li>
                                    <li>电子商务</li>
                                    <li>创业公司</li>
                                    <li>电子商务</li>
                                    <li>年轻团队</li>
                                    <li>成长快速</li>
                                </ul>
                            </li>
                        </ul>

                        <div class="Pagination myself"><a href="http://www.lagou.com/c/companylist.html#" title="1">首页</a>
                            <span class="disabled" title="上一页">上一页</span>
                            <span class="current" title="1">1</span><a href="http://www.lagou.com/c/companylist.html#" title="2">2</a><a href="http://www.lagou.com/c/companylist.html#" title="3">3</a><a href="http://www.lagou.com/c/companylist.html#" title="4">4</a><a href="http://www.lagou.com/c/companylist.html#" title="5">5</a><a href="http://www.lagou.com/c/companylist.html#" title="2">下一页 </a><a href="http://www.lagou.com/c/companylist.html#" title="20">尾页</a>
                        </div>
                    </form>
                </div>
                <div class="content_r">
                    <div class="subscribe_side">
                        <a href="http://www.lagou.com/s/subscribe.html" target="_blank">
                            <div class="subpos">
                                <span>订阅</span>职位</div>
                            <div class="c7">拉勾网会根据你的筛选条件，定期将符合你要求的职位信息发给你
                            </div>
                            <div class="count">已有
                                <em>1</em>
                                <em>5</em>
                                <em>6</em>
                                <em>7</em>
                                <em>6</em>
                                人订阅
                            </div>
                            <i>我也要订阅职位</i>
                        </a>
                    </div>
                    <div class="greybg qrcode mt20">
                        <img src="./companylist_files/companylist_qr.png" width="242" height="242" alt="拉勾微信公众号二维码">
                        <span class="c7">扫描拉勾二维码，微信轻松搜工作</span>
                    </div>
                    <!-- <a href="http://www.lagou.com/speed/speed2.html" target="_blank" class="adSpeed"></a> -->
                    <a href="http://www.lagou.com/subject/jobguide.html" target="_blank" class="eventAd">
                        <img src="./companylist_files/subject280.jpg" width="280" height="135">
                    </a>
                    <a href="http://www.lagou.com/subject/risingPrice.html" target="_blank" class="eventAd">
                        <img src="./companylist_files/rising280.png" width="280" height="135">
                    </a>
                    <a href="https://worktile.com/blog/story/worktile-story-lagou-recruiting-management" target="_blank" class="eventAd">
                        <img src="./companylist_files/worktile2.png" width="280" height="135">
                    </a>
                </div>
            </div>

            <input type="hidden" value="129581" name="userid" id="userid">

            <script type="text/javascript" src="./companylist_files/company_list.min.js"></script>
            <script>
            $(function() {
                /*分页 */
                $('.Pagination').pager({
                    currPage: 1,
                    pageNOName: "pn",
                    form: "companyListForm",
                    pageCount: 20,
                    pageSize: 5
                });
            })
            </script>
            <div class="clear"></div>
            <input type="hidden" id="resubmitToken" value="">
            <a id="backtop" title="回到顶部" rel="nofollow"></a>
        </div>
        <!-- end #container -->
    </div>
    <!-- end #body -->
    <div id="footer">
        <div class="wrapper">
            <a href="http://www.lagou.com/about.html" target="_blank" rel="nofollow">联系我们</a>
            <a href="http://www.lagou.com/af/zhaopin.html" target="_blank">互联网公司导航</a>
            <a href="http://e.weibo.com/lagou720" target="_blank" rel="nofollow">拉勾微博</a>
            <a class="footer_qr" href="javascript:void(0)" rel="nofollow">拉勾微信<i></i></a>
            <div class="copyright">©2013-2014 Lagou 京ICP备13006493号-1</div>
        </div>
    </div>

    <script type="text/javascript" src="./companylist_files/core.min.js"></script>
    <script type="text/javascript" src="./companylist_files/popup.min.js"></script>
    <script type="text/javascript" src="./companylist_files/tongji.js"></script>
    <!--  -->
    <script>
    //baidu
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc8b82d49506b74af14b13d5137fae457' type='text/javascript'%3E%3C/script%3E"));

    //google analytics
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41268416-1', 'lagou.com');
    ga('send', 'pageview');
    </script>
    <script src="./companylist_files/h.js" type="text/javascript"></script>

    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
        <div id="cboxWrapper">
            <div>
                <div id="cboxTopLeft" style="float: left;"></div>
                <div id="cboxTopCenter" style="float: left;"></div>
                <div id="cboxTopRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left;"></div>
                <div id="cboxContent" style="float: left;">
                    <div id="cboxTitle" style="float: left;"></div>
                    <div id="cboxCurrent" style="float: left;"></div>
                    <button type="button" id="cboxPrevious"></button>
                    <button type="button" id="cboxNext"></button>
                    <button id="cboxSlideshow"></button>
                    <div id="cboxLoadingOverlay" style="float: left;"></div>
                    <div id="cboxLoadingGraphic" style="float: left;"></div>
                </div>
                <div id="cboxMiddleRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxBottomLeft" style="float: left;"></div>
                <div id="cboxBottomCenter" style="float: left;"></div>
                <div id="cboxBottomRight" style="float: left;"></div>
            </div>
        </div>
        <div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
    </div>
</body>

</html>
