<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>对眼恋爱-专注于解决各类攻城狮的单身问题</title>
    <meta content="对眼恋爱是专注于解决攻城狮和程序媛的单身问题的严肃婚恋网站" name="description">
    <meta content="恋爱,单身,婚恋,找对象,找男朋友,找女朋友" name="keywords">

    <link rel="Shortcut Icon" href="static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="static/js/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="static/js/excanvas.js"></script>
<![endif]-->
</head>

<body>

    <div id="body">
        <div id="header">
            <div class="wrapper">
                <a href="/index" class="logo">
                    <img src="static/images/logo.png" width="229" height="43" alt="对眼恋爱-专注于解决攻城狮的单身问题">
                </a>
                <ul class="reset" id="navheader">
                    <li class="current"><a href="/index">首页</a>
                    </li>
                    <li><a href="/companylist">公司</a>
                    </li>
                    <li><a href="/myInfo" rel="nofollow">我的信息</a>
                    </li>
                    <li><a href="/publish" rel="nofollow">发布职位</a>
                    </li>
                    <li><a href="/trends" rel="nofollow">动态</a>
                    </li>
                    <li><a href="/register" rel="nofollow">爱情集市</a>
                    </li>
                </ul>
                <ul class="loginTop">
                    <li><a href="/login" rel="nofollow">登录</a>
                    </li>
                    <li>|</li>
                    <li><a href="/register" rel="nofollow">注册</a>
                    </li>

                </ul>
            </div>

        </div>
        <!-- end #header -->
        <div id="container">
            <div class="clearfix">
                <div class="content_l">
                    <div class="c_detail">
                        <div class="c_logo">
                            <div id="logoShow">
                                <img src="./companyDetails_files/ff80808144de1ce30144e29bb9c33b7e.jpg" width="190" height="190" alt="聚众网通（北京）科技有限公司">
                            </div>
                        </div>
                        <div class="c_box">
                            <h2 title="网通社">网通社</h2>
                            <em class="unvalid"></em>
                            <span class="va dn">拉勾未认证企业</span>
                            <div class="clear"></div>
                            <h1 class="fullname" title="聚众网通（北京）科技有限公司">聚众网通（北京）科技有限公司</h1>

                            <div class="clear oneword">
                                <img src="./companyDetails_files/quote_l.png" width="17" height="15">&nbsp; 网通社是国内首创全新理念为网络媒体提供技术及内容支持的互联网服务机构。 &nbsp;
                                <img src="./companyDetails_files/quote_r.png" width="17" height="15">
                            </div>
                            <h3 class="dn">已选择标签</h3>
                            <ul class="reset clearfix" id="hasLabels">
                                <li>
                                    <span>年底双薪</span>
                                </li>
                                <li>
                                    <span>五险一金</span>
                                </li>
                                <li>
                                    <span>带薪年假</span>
                                </li>
                                <li>
                                    <span>绩效奖金</span>
                                </li>
                                <li>
                                    <span>节日礼物</span>
                                </li>
                                <li>
                                    <span>年度旅游</span>
                                </li>
                                <li>
                                    <span>定期体检</span>
                                </li>
                                <li>
                                    <span>午餐补助</span>
                                </li>
                                <li>
                                    <span>岗位晋升</span>
                                </li>
                                <li>
                                    <span>技能培训</span>
                                </li>
                                <li>
                                    <span>管理规范</span>
                                </li>
                                <li>
                                    <span>美女多</span>
                                </li>
                                <li>
                                    <span>领导好</span>
                                </li>
                                <!-- <li class="link">编辑</li> -->
                            </ul>
                            <!-- <div id="addLabels" class="dn">
                        	<a href="javascript:void(0)" class="change" id="changeLabels">换一换</a>
                        	<input type="hidden" id="labelPageNo" value="1" />
                            <input type="submit" id="add_label" class="fr" value="贴上" />
                            <input type="text" class="label_form fr" id="label" name="label" placeholder="添加自定义标签" />	
                            <div class="clear"></div>
                            <ul class="reset clearfix"></ul>
                            <a href="javascript:void(0)" class="btn_small" id="saveLabels">保存</a>
                            <a href="javascript:void(0)" class="btn_cancel_s" id="cancelLabels">取消</a>
                        </div> -->
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="c_breakline"></div>

                    <!--有产品-->

                    <!--有介绍-->
                    <dl class="c_section">
                        <dt>
                            <h2>
                                <em></em>公司介绍</h2>
                        </dt>
                        <dd>
                            <div class="c_intro">网络通讯社 Internet Info Agency
                                <br>
                                <br>　　网通社(IIA)：全球首家为网络媒体提供全方位（资讯内容、发布系统及服务器）支持服务的互联网内容供应机构，提供汽车、理财、时尚、生活等产经消费产品类内容。
                                <br>随着网络媒体的崛起，受众对信息丰富程度的要求不断提高。传统的通讯社以文字为主体的内容报道已经不能满足读者需求。网络媒体除了需要大量的文字内容外，还需要海量的图片、视频、产品数据库、互动交流等全方位的内容，复杂的网络发布系统CMS的技术支持，以及大量的服务器、带宽等硬件支撑。为了满足日益强烈的网络媒体需求，网通社应运而生。
                                <br>网通社（IIA）每天供应2000篇以上稿件，数百万级各行业产品的介绍，数百万参数、报价、信息，数千万张照片。依托于“云计算”技术，通过分布在全国各个城市的近千台服务器针对不同媒体进行定向内容 (符合自己受众的内容）提供，通过保持与用户时时互动不断进行完善修正。
                                <br>网通社（IIA）目前已与金鹰网、千龙新闻网、广州视窗、新民网、中国广播网、东方网、南方网等200多家主流网络媒体达成了全方位的战略合作，覆盖独立用户超过2000万。</div>
                        </dd>
                    </dl>

                    <!--[if IE 7]> <br /> <![endif]-->

                    <!--有招聘职位  -->
                    <dl class="c_section">
                        <dt>
                            <h2>
                                <em></em>招聘职位</h2>
                            <span class="jobsTotal">该公司近两月共有 <i>5</i> 个职位正在招聘</span>
                        </dt>
                        <dd>
                            <ul class="reset c_jobs" id="jobList">
                                <li>
                                    <a href="http://www.lagou.com/jobs/52879.html" target="_blank">
                                        <h3>
                                            <span class="pos" title="渠道销售">渠道销售</span>
                                            <span>[北京]</span>
                                        </h3>
                                        <span>16:19发布</span>
                                        <div>全职 / 4k-8k / 1-3年 / 本科及以上
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.lagou.com/jobs/52873.html" target="_blank">
                                        <h3>
                                            <span class="pos" title="PHP">PHP</span>
                                            <span>[北京]</span>
                                        </h3>
                                        <span>16:17发布</span>
                                        <div>全职 / 10k-15k / 1-3年 / 本科及以上
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.lagou.com/jobs/52871.html" target="_blank">
                                        <h3>
                                            <span class="pos" title="BD经理">BD经理</span>
                                            <span>[北京]</span>
                                        </h3>
                                        <span>16:15发布</span>
                                        <div>全职 / 5k-9k / 3-5年 / 大专及以上
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.lagou.com/jobs/52859.html" target="_blank">
                                        <h3>
                                            <span class="pos" title="内容编辑">内容编辑</span>
                                            <span>[北京]</span>
                                        </h3>
                                        <span>16:08发布</span>
                                        <div>全职 / 4k-5k / 1-3年 / 本科及以上
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.lagou.com/jobs/52455.html" target="_blank">
                                        <h3>
                                            <span class="pos" title="UI设计师">UI设计师</span>
                                            <span>[北京]</span>
                                        </h3>
                                        <span>11:27发布</span>
                                        <div>全职 / 5k-6k / 1-3年 / 本科及以上
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </dd>
                    </dl>
                    <!-- <div id="flag"></div> -->

                </div>

                <div class="content_r">
                    <div class="c_tags">
                        <table>
                            <tbody>
                                <tr>
                                    <td width="45">地点</td>
                                    <td>北京</td>
                                </tr>
                                <tr>
                                    <td>领域</td>
                                    <!-- 支持多选 -->
                                    <td title="媒体">媒体</td>
                                </tr>
                                <tr>
                                    <td>规模</td>
                                    <td>50-150人</td>
                                </tr>
                                <tr>
                                    <td>主页</td>
                                    <td>
                                        <a href="http://www.news18a.com/" target="_blank" title="http://www.news18a.com" rel="nofollow">http://www.news...</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--融资阶段 投资机构 -->
                    <dl class="c_section c_stages">
                        <dt>
                            <h2>
                                <em></em>融资阶段</h2>
                        </dt>
                        <dd>
                            <ul class="reset stageshow">
                                <li>目前阶段：
                                    <span class="c5">B轮</span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <!-- end .c_stages -->

                    <!--有创始团队-->

                    <dl class="c_section c_member">
                        <dt>
                            <h2>
                                <em></em>创始团队</h2>
                        </dt>
                        <dd>
                            <div class="member_info noborder">
                                <div class="m_portrait">
                                    <div></div>
                                    <img src="./companyDetails_files/leader_default.png" width="120" height="120" alt="徐翀">
                                </div>
                                <div class="m_name">
                                    徐翀
                                </div>
                                <div class="m_position">总编</div>
                                <div class="m_intro"></div>
                            </div>
                        </dd>
                    </dl>

                    <!--公司深度报道-->

                    <input type="hidden" value="10149" name="companyId" id="companyId">
                </div>
            </div>

            <script type="text/javascript" src="./companyDetails_files/company.min.js"></script>
            <div class="clear"></div>
            <input type="hidden" id="resubmitToken" value="ff80808144de284d0144e3c942991501">
            <a id="backtop" title="回到顶部" rel="nofollow" style="display: none;"></a>
        </div>
        <!-- end #container -->
    </div>
    <!-- end #body -->
    <div id="footer">
        <div class="wrapper">
            <a href="http://www.lagou.com/about.html" target="_blank" rel="nofollow">联系我们</a>
            <a href="http://www.lagou.com/af/zhaopin.html" target="_blank">互联网公司导航</a>
            <a href="http://e.weibo.com/lagou720" target="_blank" rel="nofollow">拉勾微博</a>
            <a class="footer_qr" href="javascript:void(0)" rel="nofollow">拉勾微信<i></i></a>
            <div class="copyright">©2013-2014 Lagou 京ICP备13006493号-1</div>
        </div>
    </div>

    <script type="text/javascript" src="./companyDetails_files/core.min.js"></script>
    <script type="text/javascript" src="./companyDetails_files/popup.min.js"></script>
    <script type="text/javascript" src="./companyDetails_files/tongji.js"></script>
    <!--  -->
    <script>
    //baidu
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc8b82d49506b74af14b13d5137fae457' type='text/javascript'%3E%3C/script%3E"));

    //google analytics
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41268416-1', 'lagou.com');
    ga('send', 'pageview');
    </script>
    <script src="./companyDetails_files/h.js" type="text/javascript"></script>

    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
        <div id="cboxWrapper">
            <div>
                <div id="cboxTopLeft" style="float: left;"></div>
                <div id="cboxTopCenter" style="float: left;"></div>
                <div id="cboxTopRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left;"></div>
                <div id="cboxContent" style="float: left;">
                    <div id="cboxTitle" style="float: left;"></div>
                    <div id="cboxCurrent" style="float: left;"></div>
                    <button type="button" id="cboxPrevious"></button>
                    <button type="button" id="cboxNext"></button>
                    <button id="cboxSlideshow"></button>
                    <div id="cboxLoadingOverlay" style="float: left;"></div>
                    <div id="cboxLoadingGraphic" style="float: left;"></div>
                </div>
                <div id="cboxMiddleRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxBottomLeft" style="float: left;"></div>
                <div id="cboxBottomCenter" style="float: left;"></div>
                <div id="cboxBottomRight" style="float: left;"></div>
            </div>
        </div>
        <div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
    </div>
</body>

</html>
